{% extends 'base.html.twig' %}

{% block title %}Room {{ room.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('css/chat.css')) }}">
{% endblock %}

{% block body %}
        <div class="container message-box">
            <div class="row">
                <div class="col-md-3 stats">
                    <div class="stats-main">
                        <h3 class="stats-main-title badge badge-primary">Room {{ room.title }}</h3>
                        <p>
                            <span class="badge badge-white">
                                <i class="fa fa-user"></i> {{ room.roomPlayersCount }} / {{ room.slots }}
                            </span>
                        </p>
                    </div>

                    <div class="users-list overflow-auto">
                        <hr>
                        {% for player in room.roomPlayers %}
                            <p><i class="fa fa-user"></i> {{ player.player.username }}</p>
                            <hr>
                        {% endfor %}
                    </div>

                    <div class="stats-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt doloremque eum minima odio quod quos. Architecto cumque dolorum facere fuga ipsa iure laudantium nisi, pariatur quibusdam repellat voluptas voluptatem?
                    </div>
                </div>
                <div class="col-md-9 messages">
                    <div class="chat overflow-auto" id="chat">
                    </div>

                    <div class="chat-send-box input-group mt-auto">
                        <textarea name="send-box" id="send-box" class="form-control"></textarea>
                        <div class="input-group-prepend">
                            <button class="send-message-btn btn btn-primary"><i class="fab fa-telegram-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script>
        var ws;
        var userId = {{ app.user.id }};
        var userUsername = "{{ app.user.username }}";
        $("#chat").animate({ scrollTop: $("#chat")[0].scrollHeight}, 100);

        function connect(){
            ws = new WebSocket('ws://127.0.0.1:8888/ws?room=' + {{ room.id }});

            ws.onopen = () => {
                console.log('connected to chat');
            };

            ws.onmessage = (event) => {
                var messageType = JSON.parse(event.data).type;

                if (messageType != 1) {
                    return;
                }

                var msgBody = JSON.parse(JSON.parse(event.data).body);
                var messageClass = msgBody.user == userId ? 'personal-message' : 'receieved-message';
                var badgeClass = msgBody.user == userId ? 'badge-primary' : 'badge-danger';

                $('.chat').append('<div class="message ' + messageClass + '">\n' +
                    '<h4>' + msgBody.username + ' <span class="badge ' + badgeClass + '">Role</span></h4>\n' +
                    '<p>' + msgBody.message + '</p>\n' +
                    '</div>'
                );

                $("#chat").animate({ scrollTop: $("#chat")[0].scrollHeight}, 100);
            };

            ws.onclose = () => {
                setTimeout(connect, 1e3);
            };
        }

        connect();

        $('#send-box').on('keydown', function(e) {
            if (e.which == 13 || e.key == 13) {
                msg = {"user": userId, "username": userUsername, "message": $('#send-box').val()};
                ws.send(JSON.stringify(msg));
                $('#send-box').val('');
                e.preventDefault();
            }
        });

        $('.send-message-btn').on('click', function () {
            msg = {"user": userId, "username": userUsername, "message": $('#send-box').val()};
            ws.send(JSON.stringify(msg));
            $('#send-box').val('');
        });
    </script>
{% endblock %}
