{% extends 'base.html.twig' %}

{% block title %}Create game{% endblock %}

{% block body %}
    <h1>Create game</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.slots) }}
    {{ form_row(form.rules) }}
    {{ form_row(form.password) }}

    <button class="btn">Create</button>
    {{ form_end(form) }}
{% endblock %}
